@model Employee_Department.Models.Department
@{
    ViewData["Title"] = "AddDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <p class="text-center text-success">@TempData["Success"]</p>
            <div class="card">
            <div class="card-header">
               @* <h2 class="text-info">Add Department</h2>*@
               @if(Model.DepartmentID==0)
                    {
                        <h2 class="text-info">Add Department</h2>
                    }
                    else
                    {
                        <h2 class="text-info">Update Department</h2>
                    }
                </div>
            <div class="card-body">
                <form method="post" asp-action="AddDepartment">
                   <div class="form-group">
                            <lable asp-for="DepartmentName"></lable>
                            <input type="text" class="form-control" placeholder="Enter Department Name" autocomplete="off" asp-for="DepartmentName"/>
                            <input  type="hidden" asp-for="DepartmentID"/>
                            <span class="text-danger" asp-validation-for="DepartmentName"></span>
                   </div>
                   <div class="form-group">
                            <lable asp-for="Departmentcode"></lable>
                            <input type="text" class="form-control" placeholder="Enter Department code" autocomplete="off" asp-for="Departmentcode"/>
                            <span class="text-danger" asp-validation-for="Departmentcode"></span>
                   </div>
                   <div class="">
                      @*<input type="submit" class="btn btn-sm btn-primary m-2 p-2" style="float:right" value="SUMBIT"/>*@
                      @if(Model.DepartmentID==0)
                            {
                                <input type="submit" class="btn btn-sm btn-primary m-2 p-2" style="float:right" value="SUMBIT" />
                            }else
                            {
                                <input type="submit" class="btn btn-sm btn-primary m-2 p-2" style="float:right" value="Update" />
                            }
                       </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

